<!-- Footer -->
<footer id="footer">
  <a class="footer-link" href="#title"
    ><i class="fa-solid fa-laptop fa-1.8x ft-icon"></i
  ></a>
  <a
    class="footer-link"
    href="https://www.linkedin.com/in/sanskriti-srivastava-a3773a204?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BaYBsHIMdQz%2BnktcxiTbyLA%3D%3D"
    ><i class="fa-brands fa-linkedin fa-1.8x ft-icon"></i
  ></a>
  <a class="footer-link" href="mailto:@kritisriva@gmail.com"
    ><i class="fa-regular fa-envelope fa-1.8x ft-icon"></i
  ></a>
  <a
    class="footer-link"
    href="https://github.com/kriti2020/Movie-Recommendation-webapp.git"
    ><i class="fa-brands fa-github fa-1.8x ft-icon"></i
  ></a>

  <p class="ft">Made with ❤️ by Sanskriti Srivastava</p>
</footer>

<!-- Javascript files n then bootstrapJs -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
  defer
></script>
