</head>
<body>

        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark main-nav" id="nav">
          <!-- <a class="navbar-brand" href="/"><img src="img/logo.png" class="nav-img" alt=""></a> -->
          <a class="navbar-brand" href="/home">MOVIX</a>
          
          <!-- TOGGLER NAVBAR FROM BOOTSTRAP DOCUMENTATION -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTrogglerDemo02" aria-controls="navbarTrogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         
          <!-- INSIDE TOGGLER -->
          <div class="collapse navbar-collapse" id="navbarTrogglerDemo02">
             <ul class="navbar-nav ms-auto">
                  <li class="nav-item ">
                      <a class="nav-link" href="/search">GENRES</a>
                  </li>
                  <!-- <li class="nav-item">
                      <a class="nav-link" href="/trending">TRENDING</a>
                  </li> -->

                  <li class="nav-item">
                      <a class="nav-link" href="/suggest_me">SUGGEST ME</a>
                  </li>  
                  <li class="nav-item">
                    <a class="nav-link" href="/ask_frnd">ASK FRIEND</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/search">SEARCH</a>
                  </li>
                
              </ul>    
          </div>
          
      </nav>

  
    