
   <%- include("partials/header") %>
   

   <!-- STYLESHEET -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/movie-page.css">

<%- include("partials/navbar") %>



<%- include("partials/footer") %>


<script src="js/api.js"></script>
    <script src="js/buttons.js"></script>
    <script src="js/suggest_me.js"></script>
  
</body>
</html>