<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movix : Homepage</title>
   
  <!-- FONT AWESOME-ICONS -->
  <script src="https://kit.fontawesome.com/dbe0fb5c53.js" crossorigin="anonymous"></script>
  
    <!-- Bootstrap :CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 
    <!-- STYLESHEET -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/movie-page.css">
</head>

<body>

    <div class="container-fluid">

   
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark main-nav" id="nav">
          <!-- <a class="navbar-brand" href="/"><img src="img/logo.png" class="nav-img" alt=""></a> -->
          <a class="navbar-brand" href="/">MOVIX</a>
          
          <!-- TOGGLER NAVBAR FROM BOOTSTRAP DOCUMENTATION -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTrogglerDemo02" aria-controls="navbarTrogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         
          <!-- INSIDE TOGGLER -->
          <div class="collapse navbar-collapse" id="navbarTrogglerDemo02">
             <ul class="navbar-nav mx-auto">
                  <li class="nav-item ">
                      <a class="nav-link" href="/#genre">Genres</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Languages</a>
                  </li>
                  <!-- <li class="nav-item">
                      <a class="nav-link" href="#Latest">Latest</a>
                  </li> -->
                  <li class="nav-item">
                      <a class="nav-link" href="#Suggest Me">Suggest Me</a>
                  </li>  
              </ul>
              <ul class="navbar-nav ms-auto"></ul>
                    <li class="nav-item">
                      <div class="input-group rounded">
                        <input type="search" class="form-control rounded search" id="search-txt" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                        <button type="button" id="search-btn" class="btn btn-primary nav-btn btn-danger">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                  
                    </li>
  
                  <li class="nav-item dropdown">
             
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          
                          <span class="text">Profile</span>
                          <span class="icon"><i class="fa-regular fa-user"></i></span>
                        </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">My Account</a></li>
                        <li><a class="dropdown-item" href="#">Liked/Watched</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Suggest Me</a></li>
                        <li><a class="dropdown-item" href="#">Ask Friend</a></li>       
                      </ul> 
                    </li>
              </ul>    
          </div>
         
         
          <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>  -->
            
      </nav>
  </div>
  
    