
<%- include("partials/header") %>



    <!-- STYLESHEET -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/movie-page.css">

<%- include("partials/navbar") %>






  <!-- TITLE SECTION -->
   

  <section id="title" class="bg-image" style="background-image: url(/img/bg.jpg); background-size: cover; background-position: center center; background-repeat: no-repeat; background-attachment: fixed; height:100vh; ">
       <div class="container-fluid suggest_me">
       
       <!-- <h1 class="heading"</h1>
        <p class="info"></p> -->
       
        <h1>MOVIX</h1>
        <hr>
        <h2>All Movies in One Platform.Watch and find movies that bring your mood back!</h2>
       
        </div>
        </section>


        <!-- CAROUSEL -->
        <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100 carousel-img" src="img/movie.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>...</h5>
                    <p>...</p>
                  </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100 carousel-img" src="img/logo.png" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>...</h5>
                    <p>...</p>
                  </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100 carousel-img" src="img/movie.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>...</h5>
                    <p>...</p>
                  </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div> -->
 
<!-- MAIN SECTION -->
<div class="main">
  <h2>Hello <%= kindaname %>! Checkout these categories!</h2>
        <!--POPULAR MOVIES -->
        <!--TOP RATED MOVIES -->
        <!-- MOVIE BY GENRES -->
        
        <!-- <div class="movies">
            <button class="pre-btn"><i class="fa-regular fa-chevron-left"></i></button>

            <h1 class="movie-heading"></h1>

            <div class="movie-container">
              
                <div class="movie">
                    <img src="img/logo.png"  alt="">
                    <p class="movie-title">movie name</p>
                </div>
            </div>

            <button class="nxt-btn"><i class="fa-regular fa-chevron-right"></i></button>

        </div> -->
  
      </div>
    
  


    




    <%- include("partials/footer") %>
    
    <!-- JS FILES -->
    <script src="js/api.js"></script>
    <script src="js/buttons.js"></script>
    <script src="js/home.js"></script>
    
   
</body>
</html>