
<%- include("partials/header") %>


<title>Home</title>
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/movie-page.css">

<%- include("partials/navbar") %>






  <!-- TITLE SECTION -->
   

  <section id="title" class="hero">
       <div class="container-fluid">
       
       <!-- <h1 class="heading"</h1>
        <p class="info"></p> -->
    
        <h1>Hola <%= kindaname %></h1>
        <hr>

        <h2>Find movies that suits you!</h2>
        <p><a class="landing-link" href="#top">TRENDING </a>| <a class="landing-link" href="#popular">TOP-RATED</a> | <a class="landing-link" href="#popular">POPULAR </a></p>

        </div>
        <div class="pagination">
          <!-- <button class="btn btn-outline-light" href="/home#carousel">Trending</button> -->
      </div>
        </section>


 
<!-- MAIN SECTION -->
<div class="main">
  <!-- <h2> Checkout these categories!</h2> -->
        <!--POPULAR MOVIES -->
        <!--TOP RATED MOVIES -->
        <!-- MOVIE BY GENRES -->
        
        <!-- <div class="movies">
            <button class="pre-btn"><i class="fa-regular fa-chevron-left"></i></button>

            <h1 class="movie-heading"></h1>

            <div class="movie-container">
              
                <div class="movie">
                    <img src="img/logo.png"  alt="">
                    <p class="movie-title">movie name</p>
                </div>
            </div>

            <button class="nxt-btn"><i class="fa-regular fa-chevron-right"></i></button>

        </div> -->
  
      </div>
    
  


    




    <%- include("partials/footer") %>
    
    <!-- JS FILES -->
    <script src="js/api.js"></script>
    <script src="js/buttons.js"></script>
    <script src="js/home.js"></script>
    
   
</body>
</html>