<%- include("partials/header") %>

<!-- STYLESHEET -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/suggest_me.css">

</head>
<body>

<!-- 
<img src="img/movie.jpg"class="w-100 bg-lp-img"  style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"alt=""> -->


<section  class="bg-image" style="background-image: url(/img/bg.jpg); background-size: cover; background-position: center center; background-repeat: no-repeat; background-attachment: fixed; height:100vh; ">
  <div class="container-fluid hero" id="landing-page">
  
  <!-- <h1 class="heading"</h1>
   <p class="info"></p> -->
  
   <h1>MOVIX</h1>
   <hr>
   <h2>A platform which helps to find movies that match your taste and that too with ease. </h2>
   <p></p>
  
<form action="/" method="post">
   <div class="input-group rounded">
    <input type="text" class="form-control rounded enter" name="name" id="enter-text" placeholder="Enter your name" aria-label="Search" aria-describedby="search-addon" />
    <button  type="submit" id="" class="btn btn-primary btn-danger">ENTER</button>
  </div> 
</form>  
</div>
   

<div class="cta-feature">
  <button class="btn btn-dark" ><a href="#features" class="landing-link">Know More</a></button>
</div>
</section>



<section id="features">
  <div class="row">   
    <div class="col-lg-6 col-sm-12">
      <h2>Features</h2>
      <!-- <button type="button" class="btn btn-dark btn-lg download-btn"><i class="fab fa-apple"></i> Download</button>
      <button type="button" class="btn btn-outline-light btn-lg download-btn"><i class="fa-brands fa-google-play"></i> Download</button>
     -->
    </div>
    <div class="col-lg-6">
      <img class="img" src="" alt="">
    </div>
  </div>

</div>
</section>

</section>









  <%- include("partials/footer") %>

