<%- include("partials/header") %>
<title>MOVIX</title>
<!-- STYLESHEET -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/suggest_me.css">

</head>
<body>

<!-- 
<img src="img/movie.jpg"class="w-100 bg-lp-img"  style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"alt=""> -->


<section  class="bg-image" style="background-image: url(/img/bg.jpg); background-size: cover; background-position: center center; background-repeat: no-repeat; background-attachment: fixed; height:100vh; ">
  <div class="container-fluid hero" id="landing-page">
  
  <!-- <h1 class="heading"</h1>
   <p class="info"></p> -->
  
   <h1>MOVIX</h1>
   <hr>
   <h2>A platform which helps to find movies that match your taste and that too with ease. </h2>
   <p></p>
  
<form action="/" method="post">
   <div class="input-group rounded">
    <input type="text" class="form-control rounded enter" name="name" id="enter-text" placeholder="Enter your name" aria-label="Search" aria-describedby="search-addon" autocomplete="off" />
    <button  type="submit" id="" class="btn btn-primary btn-danger">ENTER</button>
  </div> 
</form>  
</div>
   

<div class="cta-feature">
  <button class="btn btn-dark" ><a href="#features" class="landing-link">Know Features</a></button>
</div>
</section>



<section id="description">
      <h2 style="color:#ff4c68;">Description</h2>
      <h3>Movix is a platform to make movie-browsing experience smooth and efficient. It recommends movies based on the search query, categories selected and some user-specific data. It recognizes the trends and suggests the movies.It further provides information and similar items for each of the movie so as to help the user find what suits them! Further this sums up the motive <em>Search.Select.shoot.</em></h3>
 <hr>
    </section>

<section id="features">
  <div class="row">   
    <div class="col-lg-6 col-sm-12">
      <h2 style="color:#ff4c68;">Features</h2>
      <h3>
       <ul>
         <li>Discover all-time hits and popular movies.</li>
         <li>Explore all the genre-based categorised movies on the landing page.</li>
         <li>The Top 20 trending movies are highlighted to make users up to date and discover it easily!</li>
         <li>For each movie, the important details are provided to help the user make a better choice.</li>
         <li>Trailers and Videos Clips are attached which can be zoomed in and out as per the choice.</li> 
         <li>All the Similar Movies for each of the movie is also provided.</li>
         <li>An easy-to-use search option helps to find the desired movie.</li>
         <li>Finding movies with multiple genres is also feasible. Select as many genres as you want and the best movie that fits will be shown!</li>
         <li><em style="color:#ff4c68">SUGGEST ME</em> feature makes it feasible to get movie specific for your age and language you like!</li>
         <li>Suggestion doesn't stop here! The <em style="color:#ff4c68">SHOOT MORE</em> option is also given to filter up movies based on the popularity, genres popular for that age, year of release and vote count based on the language and age group chosen!!</li>
        <li>Apart from this <em style="color:#ff4c68">ASK FRIEND</em> feature idea is also there which helps the user to get recommendation from their closed ones</li>
        <li>Responsive and easy to the eyes UI</li>
        </ul> 
</h3>
    </div>
    <div class="col-lg-6">
      <img class="img" src="/img/features.png" id="ft-img" alt="">
    </div>
  </div>
</div>
</section>














</body>
</html>