
   <%- include("partials/header") %>
   
<title></title>
       <!-- STYLESHEET -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/movie-page.css">

   <%- include("partials/navbar") %>
   

   

   

   <!-- movie info -->
       <div class="movie-info"  style="background-size: cover; background-position: center center;background-repeat: no-repeat;height:100vh;">
        <div class="movie-detail">
            <h4 class="movie-name"></h4>
            <p class="genres"></p>
            <p class="vote">Rating: </p>
            <p class="des"></p>
            
            <p class="starring">Starring: </p>
        </div>
    </div>

     <!-- video clips -->
     <div class="videos" id="videos">
        <h2 class="heading">Tralier and Clips</h2>
        <div class="trailer-container">
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/BicJFhNyRfM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   </div> -->
    </div>
</div>

    <!-- recommendations -->
    <div class="recommendations" >
        <h2 class="heading">Similar Movies</h2>
        <div class="recommendations-container" id="mainall">
            <!-- <div class="movieall">
                <img src="img/logo.png" alt="">
                <p class="movie-title">movie name</p>
                </div> -->
            
        </div>
    </div>

    <div class="pagination">
        <button class="btn btn-danger loadbtn" id="load">Load More</button>
    </div>


   

    <!-- JS FILES -->
    <script src="js/api.js"></script>
    <script src="js/buttons.js"></script>
    <script src="js/movie-page.js"></script>

  
    
   
</body>
</html>