
   <%- include("partials/header") %>
   
   
   <!-- movie info -->
       <div class="movie-info">
        <div class="movie-detail">
            <h1 class="movie-name"></h1>
            <p class="genres"></p>
            <p class="des"></p>
            <p class="starring"><span>Starring:</span></p>
        </div>
    </div>

     <!-- video clips -->
     <div class="trailer-container">
        <h1 class="heading">Video Clip</h1>
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/BicJFhNyRfM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   </div> -->
    </div>

  
    
    <%- include("partials/footer") %>

    <!-- JS FILES -->
    <script src="js/api.js"></script>
    <script src="js/buttons.js"></script>
    <script src="js/movie-page.js"></script>
  
    
   
</body>
</html>