
   <%- include("partials/header") %>
   

       <!-- STYLESHEET -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/movie-page.css">

   <%- include("partials/navbar") %>
   

   

   </div>

   <!-- movie info -->
       <div class="movie-info">
        <div class="movie-detail">
            <h1 class="movie-name"></h1>
            <p class="genres"></p>
            <p class="des"></p>
            <!-- <span class="${getColor(vote_average)}">${vote_average}</span> -->
            <p class="starring"><span>Starring:</span></p>
        </div>
    </div>

     <!-- video clips -->
     <div class="trailer-container">
        <h1 class="heading">Video Clip</h1>
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/BicJFhNyRfM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   </div> -->
    </div>

    <!-- recommendations -->
    <div class="recommendations" >
        <h1 class="heading">Similar</h1>
        <div class="recommendations-container" id="mainall">
            <!-- <div class="movieall">
                <img src="img/logo.png" alt="">
                <p class="movie-title">movie name</p>
                </div> -->
            
        </div>
    </div>

    <div class="pagination">
        <button class="btn btn-danger page" id="load">Load More</button>
    </div>


    <%- include("partials/footer") %>

    <!-- JS FILES -->
    <script src="js/api.js"></script>
    <script src="js/buttons.js"></script>
    <script src="js/movie-page.js"></script>

  
    
   
</body>
</html>