<%- include("partials/header") %>


<!-- STYLESHEET -->
<link rel="stylesheet" href="css/style.css">

<%- include("partials/navbar") %>

<section id="title">
<div class="container-fluid">
    <h1>Search</h1>
    <div class="input-group rounded">
      <input type="search" class="form-control rounded search" id="search-txt" placeholder="Search Movie" aria-label="Search" aria-describedby="search-addon" />
      <button type="button" id="search-btn" class="btn btn-primary btn-danger">
        <i class="fas fa-search"></i>
      </button>
    </div>
</div>
<!-- <hr> -->
</section>


<section id="cta">
    <div class="container-fluid">
        <h2 id="#genre">Search By Genres</h2>
        <p>Get all the movies of your desired genres. Select multiple genres and get suggestions!</p>
   
    </div>
</section>

<div class="container-fluid" >
    <div id="genrebtns">
        <!-- <button class="genrebtn">Action</button> -->
    </div>
</div>
   


      </div>
    <main id="mainall">
        <!-- <div calss="movieall">
       <img src="${poster_path? IMG_URL+poster_path: "" }" alt="${title}">
            <h3>${title}</h3> -->
        </div>

    </main>

    <div class="pagination">
        <button class="btn btn-danger loadbtn" id="load">Load More</button>
    </div>

  


    <script src="js/api.js"></script>
    <script src="js/search.js"></script>
</body>
</html>