<%- include("partials/header") %>

<!-- STYLESHEET -->
<!-- <link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/movie-page.css"> -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/suggest_me.css">


<%- include("partials/navbar") %>


 
<section id="title">
    <div class="container-fluid suggest_me">
 
      <h1>Select.Search.Shoot.</h1>
      <hr>
      <h3>Find the movies that get interests you. Choose your Age group first and then Region and then you'll get suggestions based on that!</h3>
       <h3>Scroll for Suggestions!</h3>
      <!-- Title -->
      <div class="row">   
   
        <div class="col-lg-6 col-sm-12">
          <h2 style="font-size:1.2rem;">Choose Age Group</h2>
           <button type="button" class="btn btn-danger btn-lg choicebtn" id="kid" onClick="getAge(this.id)">Age < 15</button>
           <button type="button" class="btn btn-danger btn-lg choicebtn" id="adult" onClick="getAge(this.id)">Age > 15</button>
         </div>
          <!-- <img class="img" src="img/screen.jpg" alt="iphone-mockup">
         -->
         <div class="col-lg-6 col-sm-12">
         <h2 style="font-size:1.2rem;">Choose Region</h2>
          <button type="button" class="btn btn-danger btn-lg choicebtn" id="hi" onClick="getLang(this.id)">INDIAN</button>
          <button type="button" class="btn btn-danger btn-lg choicebtn" id="en" onClick="getLang(this.id)">WESTERN </button>
        </div>
      </div>
      
    </div>
    
  </section>




  <!-- CARDS -->

  <section id="cta">
    <h3>FILTER UP</h3>
    <p>Dunno what to watch yet? Filter Up a bit more with the button Shoot and get amazing movies sorted from various parameters! You can further checkout that movie by clicking on the card.</p>
        <div class="pagination">
          <button class="btn btn-danger loadbtn" id="filterUp" onClick="filtertime()">Shoot</button>
        </div>
    <!-- <main id="main">

    </main> -->
   
    <div class="rating-container">
    </div>
    
  </section>




 <!-- SUGGESTIONS -->
<div class="suggestions" >
  <h2 class="heading">Suggestions</h2>
  <div class="suggestion-container" id="mainall">
      <!-- <div class="movieall">
          <img src="img/logo.png" alt="">
          <p class="movie-title">movie name</p>
          </div> -->
      
  </div>
</div>



<div class="pagination">
  <button class="btn btn-danger loadbtn" id="load">Load More</button>
</div>


  <%- include("partials/footer") %>


<script src="js/api.js"></script>
    <!-- <script src="js/search.js"></script> -->
    <script src="js/suggest_me.js"></script>
  
</body>
</html>