<%- include("partials/header") %>

<!-- STYLESHEET -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/suggest_me.css">

<%- include("partials/navbar") %>




<!-- NOT WORKING??? -->
<% console.log(kindaname) %>
 <p>Hello <%= kindaname %> </p>








  <%- include("partials/footer") %>


<script src="js/api.js"></script>
    <script src="js/buttons.js"></script>
    <script src="js/suggest_me.js"></script>
  
</body>
</html>