
.movie-info{
    width: 100%;
    height: calc(100vh - 60px);
    margin-top: 60px;
    background-size: cover;
    background-repeat: no-repeat;
}

.movie-detail{
    width: 50%;
    height: 100%;
    background: rgb(24, 24, 24);
    background: linear-gradient(90deg, rgba(24, 24, 24, 1), rgba(24, 24, 24, 0) 100%);
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}

.movie-name{
    font-size: 30px;
    font-weight: 500;
}

.genres{
    opacity: 0.6;
    margin: 30px 0;
}

.des{
    width: 70%;
    line-height: 20px;
    margin-bottom: 30px;
}

.starring span{
    opacity: 0.6;
}

/* for rating */

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.vote_average{
    color:rgb(70, 69, 69)
}

.vote_red{
    color:#ff4c68;
}


/* RECOMENDATION N TRAILER */

 #videos{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: #fff; */
    /* justify-content: left;
    margin: 0 4vw; */
}

.recommendations h2,.videos h2{
    color: #fff;
    padding: 5vw 8vw 0;
    text-align:center;
}

.trailer-container{
     width: 100%;
     align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 2vw 7vw 0;
}



iframe{
    width: 300px;
    /* height: 200px; */
    margin: 2vh;
    border-radius: 2px;
    box-shadow: 0.2px 4px 5px rgba(43, 2, 2, 0.1);
    position:relative;
    overflow: hidden;
    text-align:center;    
}

/* .movieall:hover p{
    opacity: 1;
}  */

/* .movieall:hover{
    outline:#fff;
} */

