
/*
red
color : #E60023 

black
color :#191414

grey
color: ##555555;

white
color : #f0f0f3;
 */

 *{
    margin: 0;
    padding: 0;
}

body{
    /* width: 100%;
    position: relative; */
  background: #040000;
  background-image: -webkit-linear-gradient(top, #040000, #191414);
  background-image: -moz-linear-gradient(top, #040000, #191414);
  background-image: -ms-linear-gradient(top, #040000, #191414);
  background-image: -o-linear-gradient(top, #040000, #191414);
  background-image: linear-gradient(to bottom, #040000, #191414);

    /* font-family:Montserrat; */
    line-height:1.4
}

/* LANDING PAGE */
.bg-lp-img{
    opacity:0.5;
}

/* .navbar{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 9;
    background: #191414;
    padding: 0 2.5vw;
    display: flex;
    align-items: center;
} */

#title{
    position:relative;
    /* font-weight:normal; */
}
h1{
    text-transform: capitalize;
    font-family: Montserrat-Black,sans-serif;
    color: white;
    /* margin:100px auto; */
    font-size:3.5rem;
    line-height:1.2;
}
h2{
    text-transform: capitalize;
    color: white;
    /* font-weight: 900;
    font-size: 50px; */

    font-size: 2.5rem;
    font-weight:bold; 
    margin-bottom: 20px;
}
h3{
    font-family: Montserrat-Bold,sans-serif;
    /* AS BOLD WORD IS NOT WORKING */
    font-weight:bold; 
    font-size:2.5rem;

}

.info{
    width: 50%;
    font-size: 20px;
    margin-top: 10px;
}


/* Navbar styling */
.navbar{
    width: 100%;
    height: 60px;
    position: fixed;
    /* opacity:0.8; */
    top: 0;
    z-index: 9;
    padding: 0 2.5vw;
}
.navbar .navbar-fixed-top .navbar-dark{
    background-color: rgba(204, 22, 22, 1) !important;
}
.navbar-brand{
    font-family: Montserrat;
    font-size: 2em;
    font-weight:bold;
}
/* .nav-img{
    size: 1px;
} */

.nav-item{
 padding: 0 18px;
}

.nav-link{
    font-size:1.2rem;
    font-family: Montserrat;
}
/* .nav-link:hover{
    color:#ff4c68
} */
/* .navbar-nav > li> a:hover { color: #FF0000;} */
.navbar-nav .nav-item .nav-link {
    color: #fff;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #E60023 ;
}

.nav-btn{
    background-color: #E60023 ;
 }

 
.navbar-nav > li > .dropdown-menu { background-color: #191414; }
.navbar-nav > li > .dropdown-menu a{   color: #fff;  }
.navbar-nav > li > .dropdown-menu a:hover { background-color: #E60023 ;}

.search{
outline:none!important;
-webkit-appearance:none;
box-shadow: none !important;
background-color: transparent;
color:#fff;
font-family:inherit;
font-size:1rem;
}

/* #search-txt{
    outline:none!important;
} */
.search:focus, .search:active{
    background-color: transparent;
    color:#fff;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
.search:focus, .search:active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}



/* .search::placeholder{
    color: #8e3131;
} */

/* .dropdown-menu{
    background-color: #000;
    color:#fff; 
} */

/* Page styling */
.main{
    position:relative;
    overflow: hidden;
    display:flex;
    flex-wrap: wrap;
    margin-top: 60px;
    width: 100%;
    padding: 40px 2.5vw;
    color: #fff;
}


.movies{
    width: 100%;
    height: 250px;
    margin-top: 40px;
    position: relative;
    
    display: flex;
    flex-wrap: wrap;
}

.movie-heading{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.movie-container{
    width: 100%;
    height: 200px;
    display: flex;
   
 /* flex-wrap: wrap;
    justify-content: center; */

    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}


/* SCROLLBAR UPDATE */
/* using cointaier!! to remove scrollbar */
.movie-container::-webkit-scrollbar{
    display: none;
}

.movie{
    flex: 0 0 auto;
    width: 300px;
    border-radius: 2px;
    /* width: 94%; --displays opnly 1 movie but on te same container length*/
    height: 200px;
    text-align: center;
    margin-right: 1rem;
    cursor: pointer;
    position: relative;
}


.movie img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.movie p{
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
}
/* .movie p{
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
} */


/* Scroll Buttons */
.pre-btn,
.nxt-btn{
    position: absolute;
    height: 200px;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5vw;
    background: #181818;
    border: none;
    outline: none;
    opacity: 0;
}
.pre-btn{
    left: -2.5vw;
    color:#fff;
}
.nxt-btn{
    right: -2.5vw;
    color:#fff;
}
.nxt-btn:hover,
.pre-btn:hover{
    opacity: 1;
}
/* to remove white box onclick */
.nxt-btn:focus,
.pre-btn:focus{
    outline:0;
}

.prev-btn.disabled,
.nxt-btn.disabled{
    cursor:not-allowed;
    color:grey;
}




/* FOR CAROUSEL/BANNER */

/* .banner-img{
    width:10%;
    border-radius:100%;
    margin:20px;
} */


/* .carousel-item{
    padding: 7% 15%;
}
.test-img{
    width:10%;
    border-radius:100%;
    margin:20px;

} */






.carousel{
    width: 100%;
    height: 300px;
    margin: 40px 0 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}


.carousel-container{
    width: 100%;
    /* height: 500px; */
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}


/* SCROLLBAR UPDATE */
/* using cointaier!! to remove scrollbar */
.carousel-container::-webkit-scrollbar{
    display: none;
}

.banner{
    flex: 0 0 auto;
    width: 500px;
    border-radius: 2px;
    /* width: 94%; --displays opnly 1 movie but on te same container length*/
    height: 280px;
    text-align: center;
    margin-right: 1rem;
    cursor: pointer;
    position: relative;
}
.banner img{
    width: 500px; 
}
.banner-title{
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: rgb(197, 56, 56);
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
}







/* FOR OTHER CARDS -- CARD NO. DEC WITH SIZE */
.movieall {
    /* width: 24%; */
    width: 300px;
    margin: 2vh;
    border-radius: 2px;
    box-shadow: 0.2px 4px 5px rgba(43, 2, 2, 0.1);
    position:relative;
    overflow: hidden;
}


.movieall img{
    width: 100%;
    /* height: 200px; */
    /* height: 170px; */
    object-fit: cover;

}

.movieall p{
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
}

.movieall:hover p{
    opacity: 1;
}


/* FOOTER */
#footer{
    padding: 4% 15%;
    background-color: #121212;
    margin:0;
    text-align:center;  
}
.ft{
    font-size:1rem;
    color:#e0d3d3;
}
.ft-icon{
    color:#fffefe;
    margin: 10px;
}
.ft-icon:hover{
    color:#ff4c68;
}


@media (min-width: 641px) {
    span.icon {display:inline-block}
    span.text {display:none}
   
}

@media(max-width: 1028px){
    body{
        text-align:center;
    }
    /* .movie {
        width: 200px ;
    } */
    .movie img{
        object-fit: fit;
    }
    /* .img{
        
        position:static;
        transform:rotate(0deg);
    } */
    span.icon {display:none}
    span.text {display:inline-block}
   
}


