
/*
red
color : #E60023 

black
color :#191414

grey
color: ##555555;

white
color : #f0f0f3;
 */

 *{
    margin: 0;
    padding: 0;
}

body{
    /* width: 100%;
    position: relative; */
  background: #040000;
  background-image: -webkit-linear-gradient(top, #040000, #191414);
  background-image: -moz-linear-gradient(top, #040000, #191414);
  background-image: -ms-linear-gradient(top, #040000, #191414);
  background-image: -o-linear-gradient(top, #040000, #191414);
  background-image: linear-gradient(to bottom, #040000, #191414);
}

hr {
    position:relative;
    border-style:none;
    border-top: 2px solid red;
    border-width:0.2vw;
    
  }

h1{
    font-family:Montserrat;
    color:antiquewhite;
    font-size:3.5rem;
    font-weight:600; 
    margin: auto;
    /* line-height:1.4; */
}
h2{
    font-family: Montserrat;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    color: white;
    margin: 10px auto;
}
h3{
    color: rgb(231, 231, 231);
    font-family:Nunito Sans;
    font-size: 1.2rem;
    font-style: normal;
    /* font-weight: 600; */
    margin-bottom: 20px;
    
    /* font-size:1.2rem; */
    
   
    
    /* font-family: Montserrat-Bold,sans-serif;
    font-weight:bold; 
    font-size:2.5rem; */

}

/* LANDING PAGE */
.bg-lp-img{
    opacity:0.5;
}

#landing-page{
    text-align:center;
    position:relative;
    padding: 8% 20% 6% ;
    line-height: 1.2;
}
.cta-feature{
display:flex;
margin:10% 30px 80px;
align-items: center;
justify-content: center;
color:white;
}

#features{
    padding: 3% 15%;
}

/* TITLE SECTION */
#title{
    text-align:center;
    position:relative;
    padding: 12% 20% 6% ;
    line-height: 1.2;
    /* font-weight:normal; */
}

.hero p{
    color: rgb(231, 231, 231);
    font-family:Nunito Sans;
    font-size: 0.8rem;
    font-style: normal;
    margin-bottom: 20px;
}

.suggest_me{
    display:flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}


.info{
    width: 50%;
    font-size: 20px;
    margin-top: 10px;
}


/* Navbar styling */
.navbar{
    width: 100%;
    height: 60px;
    position: fixed;
    opacity:0.94;
    top: 0;
    z-index: 9;
    padding: 0 5vw;
}
.navbar .navbar-fixed-top .navbar-dark{
    background-color: rgba(204, 22, 22, 1) !important;
}
.navbar-brand{
    font-family: Montserrat;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 800;
}
/* .nav-img{
    size: 1px;
} */

.nav-item{
 padding: 0 18px;
}

.landing-link{
    text-decoration: none;
}

.nav-link, .landing-link{
    color:#fff;
    /* font-size:1.2rem; */
    font-family:Nunito Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}
/* .nav-link:hover{
    color:#ff4c68
} */
/* .navbar-nav > li> a:hover { color: #FF0000;} */
.navbar-nav .nav-item .nav-link, .container-fluid .landing-link {
    color: #fff;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link ,.container-fluid .landing-link:hover{
    color: #E60023 ;
}

.nav-btn{
    background-color: #E60023 ;
 }

 
.navbar-nav > li > .dropdown-menu { background-color: #191414; }
.navbar-nav > li > .dropdown-menu a{   color: #fff;  }
.navbar-nav > li > .dropdown-menu a:hover { background-color: #E60023 ;}


/* SEARCH AND ENTER*/
.input-group{
    margin: 6px auto 0;
}
.search,.enter{
background-color: transparent;
color:#fff;
font-family:inherit;
font-size:1rem;
outline:none!important;
box-shadow: none;
-webkit-appearance:none;
transition: none;
}

.search:focus, .search:active, .enter:focus, .enter:active{
    outline:none!important;
    background-color: #140101;
    color:#fff;
}

input[type="search"]:focus,input[type="text"]:focus {
    border-color: #f292a0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #c21630;
  outline: 0 none;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
.search:focus, .search:active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

/* CTA SECTION OF SEARCH N SUGGESTME */
#cta{
    font-family: Nunito  Sans;
    color:white;
    text-align:center;
    padding: 0 25%;
    margin-bottom: 3%;
  }
#cta p{
    font-family:Nunito Sans;
    font-size: 1rem;
    font-style: normal;
}


/* HOME page styling */
.main{
    position:relative;
    overflow: hidden;
    display:flex;
    flex-wrap: wrap;
    margin-top: 0px;
    width: 100%;
    padding: 1.6vw 4vw;
    color: #fff;
}


.movies{
    width: 100%;
    height: 250px;
    margin-top: 40px;
    position: relative;
    /* padding:0 4vw;  */
    display: flex;
    flex-wrap: wrap;
}

/* .movie-heading{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: capitalize;
} */

.movie-container{
    width: 100%;
    height: 200px;
    display: flex;
   
 /* flex-wrap: wrap;
    justify-content: center; */

    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}


/* SCROLLBAR UPDATE */
/* using cointaier!! to remove scrollbar */
.movie-container::-webkit-scrollbar{
    display: none;
}

.movie{
    flex: 0 0 auto;
    /* width:24%; */
    width: 300px;
    border-radius: 2px;
    /* width: 94%; --displays opnly 1 movie but on te same container length*/
    height: 200px;
    text-align: center;
    margin-right: 1rem;
    cursor: pointer;
    position: relative;
}


.movie img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.movie p{
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 20px;
    line-height: 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
}
.movie:hover p{
    opacity: 1;
}
/* .movie p{
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
} */


/* Scroll Buttons */
.pre-btn,
.nxt-btn{
    position: absolute;
    height: 200px;
    top: 50%; 
    transform: translateY(-50%);
    width: 2.5vw;
    background: #140101;
    border: none;
    outline: none;
    opacity: 0;
}


.pre-btn{
    left: -2.5vw;
    color:#fff;
}
.nxt-btn{
    right: -2.5vw;
    color:#fff;
}
.nxt-btn:hover,
.pre-btn:hover{
    opacity: 1;
}
/* to remove white box onclick */
.nxt-btn:focus,
.pre-btn:focus{
    outline:0;
}

.prev-btn.disabled,
.nxt-btn.disabled{
    cursor:not-allowed;
    color:grey;
}




/* FOR CAROUSEL/BANNER */

/* .banner-img{
    width:10%;
    border-radius:100%;
    margin:20px;
} */


/* .carousel-item{
    padding: 7% 15%;
}
.test-img{
    width:10%;
    border-radius:100%;
    margin:20px;

} */






.carousel{
    width: 100%;
    height: 450px;
    margin-top: 40px ;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}


.carousel-container{
    width: 100%;
    height: 400px;
    /* height: 500px; */
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}


/* SCROLLBAR UPDATE */
/* using cointaier!! to remove scrollbar */
.carousel-container::-webkit-scrollbar{
    display: none;
}

.banner{
    flex: 0 0 auto;
    flex-wrap:wrap;
    width: 600px;
    border-radius: 2px;
    /* width: 94%; --displays opnly 1 movie but on te same container length*/
    height: 400px;
    text-align: center;
    margin-right: 1rem;
    cursor: pointer;
    position: relative;
}
.banner img{
    width: 100%; 
    height: 400px;
    object-fit: cover;
}
.banner p{
    position: absolute;
    /* bottom: 20px; */
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: rgb(197, 56, 56);
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
}







/* FOR OTHER CARDS -- CARD NO. DEC WITH SIZE --MOVIE PAGE, SEARCH PAGE,..*/

#mainall,.rating-container{
    width: 100%;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movieall{
    /* width: 24%; */
    width: 300px;
    height:150px ;
    margin: 2vh;
    border-radius: 2px;
    box-shadow: 0.2px 4px 5px rgba(43, 2, 2, 0.1);
    position:relative;
    overflow: hidden;
}


.movieall img{
    width: 100%;
    /* height: 200px; */
    /* height: 170px; */
    object-fit: cover !important;

}

.movieall p{
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
}

.movieall:hover p{
    opacity: 1;
}



/* FOR SUGGESTION/RECOMENDATION CONTAINER/SEARCH RESULS */
/* .recommendations-container,suggestion-container,.rating-container{
    width: 100%;
    align-items: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
} */
.recommendations h2,.suggestions h2{
    color: #fff;
    padding: 5vw 8vw 0;
    text-align:center;
}
  

/* PAGINATION */
.pagination{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:white;
}

/* FOOTER */
#footer{
    padding: 4% 15%;
    background-color: #121212;
    margin:0;
    text-align:center;  
}
.ft{
    font-size:1rem;
    color:#e0d3d3;
}
.ft-icon{
    color:#fffefe;
    margin: 10px;
}
.ft-icon:hover{
    color:#ff4c68;
}

/* BUTTONS */
.loadbtn{
    margin: 1rem auto;
}

.dead{
    cursor:not-allowed !important;
    border-color: rgb(103, 103, 103);
    background-color:rgb(103, 103, 103);
    outline: 0;
  box-shadow: none;
}
/* .dead:focus{
    outline: 0;
    box-shadow: none;
    background-color:rgb(103, 103, 103);

} */
.dead:hover{
    border-color: rgb(103, 103, 103);
    box-shadow: none;
    background-color:rgb(103, 103, 103);

}

/* GNERE FILTER ON SEARCH PAGE AND CHOICEBTN OF SUGGESTME*/

#genrebtns{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.choicebtn,.genrebtn{
    /* color:white;
    padding:10px 20px;
    border-radius: 50px; */
    background-color: #6c1825;
    outline: none;
    box-shadow: none;
    margin:5px;
    display:inline-block;
    transition: none;
}
.choicebtn:focus, .genrebtn:focus{
    outline: none;
    box-shadow:none;
}

.focus{
    background-color: #c21630 ;
}
/* FOR CLEAR BTN */
.clearbtn{
    background-color: #3b3a3a ;
    margin:5px;
    display:inline-block;
}

.try-again{
    color:white;
}






@media(max-width: 772px){
.nav-item{
    font-size:0.8rem
}
.navbar-collapse{
    background-color: #191414;
}
}




@media(max-width: 992px){

    body{
        text-align:center;
    }

    h1{
        font-size:3rem;
        font-weight:550;
        margin-top:80px; 
        /* line-height:1.4; */
    }

    h2{
        font-size:1.2em;
        font-weight:300;
    }
   
    /* .suggest_me h1{
        font-size:2.5rem;
        font-weight:500;
    } */
    hr{
      
        border-width: 0.15vw
         
    }
    #cta,#title{
        padding: 0 15%;
        margin-bottom: 3%;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    p,.movie-heading{
        text-align:center;
    }
    .movie {
        width: 200px ;
    }
    .movie img{
        object-fit: fit;
    }

    .carousel{
        height:250px;
    }
    .carousel-container{
        height:200px;  
    }
    .banner{
        width: 300px;
        height:200px;
        /* margin-right:2rem; */
    }
    .banner img{
        width:100%;
        object-fit:cover;
    }
    

    /* .img{
        
        position:static;
        transform:rotate(0deg);
    } */
   
}

@media(max-width: 522px){
 .suggest_me h1{
        font-size:2rem;
    }
}