/* FILTER UP CARDS */
.rateCard{
  width: 300px;
  height: 400px;
  padding: 2%;
  margin: 1vw;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
  background-color: #240204;
  position:relative;
  overflow: hidden;

  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items: center;
}
.rateCard:hover{
  cursor: pointer;
}

.rateCard img{
  /* margin:2vw 0.8vw 0; */
  width:100%;
  height:200px;
  margin-top:0;
  object-fit: cover;
  border-radius: 3px;
}


.card_des{
  margin:3px 0.8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.5px;
  overflow: hidden;
}


.rateCard h3{
font-weight:400;
text-transform: uppercase;
text-align:center;
color:antiquewhite;
margin-bottom: 12px auto 4px;
  
}

.card_des p{
   color: rgb(231, 231, 231);
    font-family:Nunito Sans;
    font-size: 1rem;
    line-height:1.2;
    font-style: normal;
    position:relative;
}



@media(max-width: 992px){

  .rateCard h3{
    font-size: 1rem;
  }
  .card_des p{
    font-size: 0.6rem;
  }

}
